<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PAGINA INICIO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Inicio</h1>
        <p th:text="${hello}"></p>
        <p th:text="${hello2}"></p>
        Name: <span th:text="${individual.name}"></span><br>
        LastName: <span th:text="${individual.lastName}"></span><br>
        Phone: <span th:text="${individual.phoneNumber}"></span><br>
        Email: <span th:text="${individual.email}"></span><br>
        Age: <span th:text="${individual.age}"></span><br>

    </body>
</html>