<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PAGINA INICIO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Inicio</h1>
        <div th:if="${individuals != null and !individuals.empty}">
            <table border="2">
                <tr>
                    <th>Nombre</th>
                    <th>LastName</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
                <tr>
                    <tr th:each="individual : ${individuals}">
                        <td th:text="${individual.name}">show nombre</td>
                        <td th:text="${individual.lastName}">show LastName</td>
                        <td th:text="${individual.phoneNumber}">show Phone</td>
                        <td th:text="${individual.email}">show Email</td>
                        <td th:text="${individual.age}">show Age</td>
                    </tr>
                </tr>
            </table>
        </div>
        <div th:if="${individuals == null or individuals.empty}">
            La lista no tiene información
        </div>

    </body>
</html>